<script type="text/template" id="thing-show-template">
	<p>
		<b>Number:</b>
		<%%= number %>
	</p>

	<p>
		<b>String:</b>
		<%%= string %>
	</p>

	<%= link_to 'Edit', edit_thing_path(@thing) %> |
	<%= link_to 'Back', things_path %>
</script>

<script type="text/javascript">
	var thing_id = <%= @thing.id %>;
</script>

<div id="show-container"></div>
